<h1> you are at the index page</h1>

<% @articles.each do |article| %>
<p><%= article.title %></p>
<p><%= article.content %></p>

<%= link_to "more detail", article_path(article) %>



<%= link_to "delete", article_path(article), method: :delete,data: { confirm: "Are you sure?" } %>



<%= link_to "modify", edit_article_path(article.id) %>


<% end %>
